aiobotocore @ file:///croot/aiobotocore_1701291506268/work
aiohttp==3.9.2
aioitertools @ file:///tmp/build/80754af9/aioitertools_1607109665762/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
alabaster @ file:///home/ktietz/src/ci/alabaster_1611921544520/work
altair @ file:///croot/altair_1687526049725/work
anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1697038919982/work
anaconda-catalogs @ file:///croot/anaconda-catalogs_1685727287042/work
anaconda-client @ file:///croot/anaconda-client_1708640635864/work
anaconda-cloud-auth @ file:///croot/anaconda-cloud-auth_1697462696424/work
anaconda-navigator @ file:///croot/anaconda-navigator_1704813281721/work
anaconda-project @ file:///ci_py311/anaconda-project_1676678552222/work
anyio @ file:///croot/anyio_1706220173765/work
appdirs==1.4.4
archspec @ file:///croot/archspec_1697725767277/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///ci_py311/argon2-cffi-bindings_1676653315138/work
arrow @ file:///ci_py311/arrow_1676655067550/work
astroid @ file:///ci_py311/astroid_1676934301323/work
astropy @ file:///croot/astropy_1697468947166/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-lru @ file:///croot/async-lru_1699554523898/work
atomicwrites==1.4.0
attrs @ file:///croot/attrs_1695717826952/work
Automat @ file:///tmp/build/80754af9/automat_1600298431173/work
autopep8 @ file:///opt/conda/conda-bld/autopep8_1650463822033/work
Babel @ file:///ci_py311/babel_1676654014741/work
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
bcrypt @ file:///ci_py311/bcrypt_1676654614873/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1681493044352/work
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
black @ file:///croot/black_1701096801799/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker @ file:///croot/blinker_1696539056245/work
bokeh @ file:///croot/bokeh_1706912156375/work
boltons @ file:///ci_py311/boltons_1678146261033/work
botocore @ file:///croot/botocore_1701286456316/work
Bottleneck @ file:///croot/bottleneck_1707864228049/work
Brotli @ file:///ci_py311/brotli-split_1676666758210/work
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
certifi @ file:///croot/certifi_1707229178800/work/certifi
cffi @ file:///croot/cffi_1700254291660/work
chardet @ file:///ci_py311/chardet_1676658818901/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///croot/click_1698129818524/work
cloudpickle @ file:///croot/cloudpickle_1683039989541/work
clyent==1.2.2
colorama @ file:///ci_py311/colorama_1676655196795/work
colorcet @ file:///ci_py311/colorcet_1676666902511/work
comm @ file:///work/ci_py311/comm_1678974059222/work
conda @ file:///croot/conda_1708369122326/work
conda-build @ file:///croot/conda-build_1708025875081/work
conda-content-trust @ file:///croot/conda-content-trust_1693490625810/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1706733287605/work/src
conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
conda-package-handling @ file:///croot/conda-package-handling_1690999940573/work
conda-repo-cli==1.0.75
conda-token @ file:///Users/paulyim/miniconda3/envs/c3i/conda-bld/conda-token_1662660369760/work
conda-verify==3.4.2
conda_index @ file:///croot/conda-index_1706633791028/work
conda_package_streaming @ file:///croot/conda-package-streaming_1690987971148/work
constantly @ file:///croot/constantly_1703165608668/work
contourpy @ file:///croot/contourpy_1700583590207/work
cookiecutter==2.2.3
cryptography==42.0.4
cssselect @ file:///croot/cssselect_1707339884641/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cytoolz @ file:///croot/cytoolz_1701723591914/work
dask @ file:///croot/dask-core_1701396102776/work
datashader @ file:///croot/datashader_1699542882974/work
debugpy @ file:///croot/debugpy_1690905045636/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill @ file:///croot/dill_1692271239686/work
distributed @ file:///croot/distributed_1701398032982/work
distro @ file:///croot/distro_1701455007193/work
docstring-to-markdown @ file:///ci_py311/docstring-to-markdown_1676684174606/work
docutils @ file:///ci_py311/docutils_1676652276439/work
entrypoints @ file:///ci_py311/entrypoints_1676652962754/work
et-xmlfile==1.1.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///ci_py311_third_pass/python-fastjsonschema_1679415970481/work
filelock @ file:///croot/filelock_1700591185863/work
flake8 @ file:///ci_py311/flake8_1678236259132/work
Flask @ file:///croot/flask_1702980030594/work
fonttools==4.25.0
fqdn==1.5.1
frozenlist @ file:///croot/frozenlist_1698702567809/work
fsspec @ file:///croot/fsspec_1701286485004/work
future @ file:///ci_py311_second_pass/future_1678996337336/work
gensim @ file:///ci_py311/gensim_1677108709815/work
gitdb @ file:///tmp/build/80754af9/gitdb_1617117951232/work
GitPython @ file:///croot/gitpython_1696936980157/work
gmpy2 @ file:///ci_py311/gmpy2_1676667324156/work
greenlet @ file:///croot/greenlet_1702059967096/work
h5py @ file:///croot/h5py_1691589719532/work
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
holoviews @ file:///croot/holoviews_1707836464789/work
huggingface-hub==0.21.3
hvplot @ file:///croot/hvplot_1706712393223/work
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna @ file:///ci_py311/idna_1676652174313/work
imagecodecs @ file:///croot/imagecodecs_1695064948857/work
imageio @ file:///croot/imageio_1707247290856/work
imagesize @ file:///ci_py311/imagesize_1676659531146/work
imbalanced-learn @ file:///croot/imbalanced-learn_1700648239834/work
importlib-metadata @ file:///croot/importlib_metadata-suite_1704813529392/work
incremental @ file:///croot/incremental_1708639938299/work
inflection==0.5.1
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
intake @ file:///ci_py311_second_pass/intake_1678997148418/work
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel @ file:///croot/ipykernel_1705933841054/work
ipython @ file:///croot/ipython_1704833008224/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///croot/ipywidgets_1701289330913/work
isoduration==20.11.0
isort @ file:///tmp/build/80754af9/isort_1628603791788/work
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
itemloaders @ file:///croot/itemloaders_1708639921533/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jedi @ file:///ci_py311_third_pass/jedi_1679414183657/work
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
jellyfish @ file:///croot/jellyfish_1695193546181/work
Jinja2 @ file:///croot/jinja2_1706733618250/work
jmespath @ file:///croot/jmespath_1700144563756/work
joblib==1.3.1
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
jsonschema @ file:///croot/jsonschema_1699041614550/work
jsonschema-specifications @ file:///croot/jsonschema-specifications_1699032393946/work
jupyter @ file:///croot/jupyter_1707947106033/work
jupyter-console @ file:///croot/jupyter_console_1679999629537/work
jupyter-events @ file:///croot/jupyter_events_1699282464118/work
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1699978252065/work
jupyter_client @ file:///croot/jupyter_client_1699455901859/work
jupyter_core @ file:///croot/jupyter_core_1698937304021/work
jupyter_server==2.7.2
jupyter_server_terminals @ file:///croot/jupyter_server_terminals_1686870736900/work
jupyterlab @ file:///croot/jupyterlab_1706802593835/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///croot/jupyterlab_widgets_1700168624172/work
jupyterlab_server @ file:///croot/jupyterlab_server_1699555434479/work
keyring @ file:///croot/keyring_1678999233275/work
kiwisolver @ file:///ci_py311/kiwisolver_1676655465800/work
lazy-object-proxy @ file:///ci_py311/lazy-object-proxy_1676655503851/work
lazy_loader @ file:///croot/lazy_loader_1695850100061/work
lckr_jupyterlab_variableinspector @ file:///croot/jupyterlab-variableinspector_1701096579544/work
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
libmambapy @ file:///croot/mamba-split_1704219419639/work/libmambapy
linkify-it-py @ file:///ci_py311/linkify-it-py_1676665429020/work
llvmlite @ file:///croot/llvmlite_1706910716875/work
lmdb @ file:///croot/python-lmdb_1682522347457/work
locket @ file:///ci_py311/locket_1676655527487/work
lxml @ file:///croot/lxml_1695058177358/work
lz4 @ file:///croot/lz4_1686057876862/work
Markdown @ file:///ci_py311/markdown_1676665449178/work
markdown-it-py @ file:///croot/markdown-it-py_1684279907449/work
MarkupSafe @ file:///croot/markupsafe_1704206003796/work
matplotlib @ file:///croot/matplotlib-suite_1698692117906/work
matplotlib-inline @ file:///ci_py311/matplotlib-inline_1676653742765/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdit-py-plugins @ file:///ci_py311/mdit-py-plugins_1676665490435/work
mdurl @ file:///ci_py311/mdurl_1676655548083/work
menuinst @ file:///croot/menuinst_1706732935122/work
mistune==3.0.1
more-itertools @ file:///croot/more-itertools_1700662128157/work
mpmath @ file:///croot/mpmath_1690848254306/work
msgpack @ file:///ci_py311/msgpack-python_1676652627181/work
multidict @ file:///croot/multidict_1701096865758/work
multipledispatch @ file:///ci_py311/multipledispatch_1676676487881/work
munkres==1.1.4
mypy @ file:///croot/mypy-split_1708366524761/work
mypy-extensions @ file:///croot/mypy_extensions_1695130936976/work
navigator-updater @ file:///croot/navigator-updater_1695210206939/work
nbclient @ file:///croot/nbclient_1698934213799/work
nbconvert==7.7.3
nbformat @ file:///croot/nbformat_1694616737073/work
nest-asyncio @ file:///croot/nest-asyncio_1708532680554/work
networkx @ file:///croot/networkx_1690561997562/work
nltk @ file:///croot/nltk_1688114156762/work
notebook @ file:///croot/notebook_1708029871761/work
notebook_shim @ file:///croot/notebook-shim_1699455899423/work
numba @ file:///croot/numba_1707085082937/work
numexpr @ file:///croot/numexpr_1696515278968/work
numpy==1.25.2
numpydoc @ file:///ci_py311/numpydoc_1676676551001/work
openpyxl==3.0.10
overrides @ file:///croot/overrides_1699371146610/work
packaging @ file:///croot/packaging_1693575181127/work
pandas @ file:///croot/pandas_1702317998312/work/dist/pandas-2.1.4-cp311-cp311-linux_aarch64.whl#sha256=1ad7fe52177acf27f369bd796e6c05f4531d461420a19526bb12df073174094b
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
panel @ file:///croot/panel_1706539570901/work
param @ file:///croot/param_1705937781662/work
parsel @ file:///croot/parsel_1707503447268/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd @ file:///croot/partd_1698702568165/work
pathlib @ file:///Users/ktietz/demo/mc3/conda-bld/pathlib_1629713961906/work
pathspec @ file:///ci_py311_second_pass/pathspec_1679345647810/work
patsy==0.5.3
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow @ file:///croot/pillow_1707233026892/work
pkce @ file:///croot/pkce_1690384834842/work
pkginfo @ file:///croot/pkginfo_1679431163054/work
platformdirs @ file:///croot/platformdirs_1692205440364/work
plotly @ file:///ci_py311/plotly_1676670957967/work
pluggy @ file:///ci_py311/pluggy_1676652338136/work
ply==3.11
prometheus-client @ file:///ci_py311_fifth_pass/prometheus_client_1679494670583/work
prompt-toolkit @ file:///croot/prompt-toolkit_1704404359611/work
Protego @ file:///tmp/build/80754af9/protego_1598657180827/work
protobuf==3.20.3
psutil @ file:///ci_py311_second_pass/psutil_1678998341423/work
psycopg2 @ file:///croot/psycopg2_1704232453686/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-cpuinfo @ file:///croot/py-cpuinfo_1698068088750/work
pyarrow==14.0.1
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycodestyle @ file:///ci_py311/pycodestyle_1678236228653/work
pycosat @ file:///croot/pycosat_1696536507716/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyct @ file:///ci_py311/pyct_1676665830094/work
pycurl @ file:///croot/pycurl_1686662454031/work
pydantic @ file:///croot/pydantic_1695798866969/work
pydeck @ file:///croot/pydeck_1706194074322/work
PyDispatcher==2.0.5
pydocstyle @ file:///ci_py311/pydocstyle_1678976554328/work
pyerfa @ file:///ci_py311/pyerfa_1676665872832/work
pyflakes @ file:///ci_py311/pyflakes_1678227391717/work
Pygments @ file:///croot/pygments_1684279967413/work
PyJWT @ file:///ci_py311/pyjwt_1676655715497/work
pylint @ file:///ci_py311/pylint_1676934333684/work
pylint-venv @ file:///ci_py311/pylint-venv_1678980969724/work
pyls-spyder==0.4.0
pyodbc @ file:///croot/pyodbc_1705431356603/work
pyOpenSSL @ file:///croot/pyopenssl_1708380413537/work
pyparsing @ file:///ci_py311/pyparsing_1678146318086/work
PyQt5==5.15.10
PyQt5-sip @ file:///croot/pyqt-split_1698769109036/work/pyqt_sip
PyQtWebEngine==5.15.6
PySocks @ file:///ci_py311/pysocks_1676652194152/work
pytest @ file:///croot/pytest_1690474701822/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv @ file:///ci_py311/python-dotenv_1676671932677/work
python-json-logger @ file:///croot/python-json-logger_1683823805782/work
python-lsp-black @ file:///ci_py311/python-lsp-black_1676677106724/work
python-lsp-jsonrpc==1.0.0
python-lsp-server @ file:///croot/python-lsp-server_1681930396110/work
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
python-snappy @ file:///ci_py311/python-snappy_1676671990772/work
pytoolconfig @ file:///croot/pytoolconfig_1701728698133/work
pytz @ file:///croot/pytz_1695131585924/work
pyviz_comms @ file:///croot/pyviz_comms_1701728022541/work
pywavelets @ file:///croot/pywavelets_1705049824708/work
pyxdg @ file:///tmp/build/80754af9/pyxdg_1603822279816/work
PyYAML @ file:///croot/pyyaml_1698096055839/work
pyzmq @ file:///croot/pyzmq_1705605082452/work
QDarkStyle @ file:///tmp/build/80754af9/qdarkstyle_1617386714626/work
qstylizer @ file:///ci_py311/qstylizer_1678139458916/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl
QtAwesome @ file:///ci_py311/qtawesome_1678226009066/work
qtconsole @ file:///croot/qtconsole_1681394220711/work
QtPy @ file:///croot/qtpy_1700144858614/work
queuelib @ file:///croot/queuelib_1696950073843/work
referencing @ file:///croot/referencing_1699012043376/work
regex @ file:///croot/regex_1696515298702/work
requests @ file:///croot/requests_1707355576692/work
requests-file @ file:///Users/ktietz/demo/mc3/conda-bld/requests-file_1629455781986/work
requests-toolbelt @ file:///croot/requests-toolbelt_1690874014189/work
rfc3339-validator @ file:///croot/rfc3339-validator_1683077049752/work
rfc3986-validator @ file:///croot/rfc3986-validator_1683058985962/work
rich @ file:///croot/rich_1684282158375/work
rope @ file:///ci_py311/rope_1678139415424/work
rpds-py @ file:///croot/rpds-py_1698945946685/work
Rtree @ file:///ci_py311/rtree_1676677267153/work
ruamel-yaml-conda @ file:///ci_py311/ruamel_yaml_1676677287703/work
ruamel.yaml @ file:///ci_py311/ruamel.yaml_1676666141469/work
s3fs @ file:///croot/s3fs_1701294171226/work
safetensors==0.4.2
scikit-image @ file:///croot/scikit-image_1707346116067/work
scikit-learn @ file:///croot/scikit-learn_1684954705498/work
scipy @ file:///croot/scipy_1701295047427/work/dist/scipy-1.11.4-cp311-cp311-linux_aarch64.whl#sha256=feaf61b314df9bf4729ff1fd328cb1d60159b12aa7f8bc74169a2aa676c07785
Scrapy @ file:///ci_py311/scrapy_1678148947138/work
seaborn @ file:///ci_py311/seaborn_1676677337596/work
SecretStorage @ file:///ci_py311_second_pass/secretstorage_1678999813505/work
semver @ file:///tmp/build/80754af9/semver_1603822362442/work
Send2Trash @ file:///croot/send2trash_1699371147815/work
service-identity @ file:///Users/ktietz/demo/mc3/conda-bld/service_identity_1629460757137/work
sip @ file:///croot/sip_1698676378851/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open @ file:///ci_py311/smart_open_1676672707390/work
smmap @ file:///tmp/build/80754af9/smmap_1611694433573/work
sniffio @ file:///croot/sniffio_1705431302289/work
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve @ file:///croot/soupsieve_1696347563811/work
Sphinx @ file:///ci_py311/sphinx_1676672727043/work
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///tmp/build/80754af9/sphinxcontrib-serializinghtml_1624451540180/work
spyder @ file:///croot/spyder_1681934071923/work
spyder-kernels @ file:///croot/spyder-kernels_1691599531541/work
SQLAlchemy @ file:///croot/sqlalchemy_1705089117153/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels @ file:///croot/statsmodels_1689937270138/work
streamlit @ file:///croot/streamlit_1706200494443/work
sympy @ file:///croot/sympy_1701397642290/work
tables @ file:///croot/pytables_1705614850394/work
tabulate @ file:///croot/tabulate_1701354817294/work
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
tenacity @ file:///croot/tenacity_1682972283398/work
terminado @ file:///ci_py311/terminado_1676653829470/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///tmp/build/80754af9/textdistance_1612461398012/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///croot/tifffile_1695107465143/work
tinycss2 @ file:///ci_py311/tinycss2_1676653626141/work
tldextract @ file:///opt/conda/conda-bld/tldextract_1646638314385/work
tokenizers==0.15.2
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomlkit @ file:///ci_py311/tomlkit_1676652873425/work
toolz @ file:///ci_py311/toolz_1676655898147/work
tornado @ file:///croot/tornado_1696936952404/work
tqdm @ file:///croot/tqdm_1679561868826/work
traitlets @ file:///ci_py311/traitlets_1676652942717/work
transformers==4.36.0
truststore @ file:///croot/truststore_1695244291232/work
Twisted @ file:///croot/twisted_1708702832020/work
typing_extensions @ file:///croot/typing_extensions_1705599305468/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
tzlocal @ file:///ci_py311/tzlocal_1676672860637/work
uc-micro-py @ file:///ci_py311/uc-micro-py_1676657820141/work
ujson @ file:///ci_py311/ujson_1676657839777/work
Unidecode @ file:///tmp/build/80754af9/unidecode_1614712377438/work
uri-template==1.3.0
urllib3 @ file:///croot/urllib3_1698257542032/work
validators @ file:///tmp/build/80754af9/validators_1612286467315/work
w3lib @ file:///croot/w3lib_1708639948305/work
watchdog @ file:///ci_py311/watchdog_1676678231824/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webcolors==1.13
webencodings==0.5.1
websocket-client @ file:///ci_py311/websocket-client_1676653850899/work
Werkzeug==2.3.6
whatthepatch @ file:///ci_py311/whatthepatch_1678984927153/work
widgetsnbextension @ file:///croot/widgetsnbextension_1701273620933/work
wrapt @ file:///ci_py311/wrapt_1676655985671/work
wurlitzer @ file:///ci_py311/wurlitzer_1676672961880/work
xarray @ file:///croot/xarray_1689041476850/work
xyzservices @ file:///ci_py311/xyzservices_1676657864923/work
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work
yarl @ file:///croot/yarl_1701105159329/work
zict @ file:///croot/zict_1695832845174/work
zipp @ file:///croot/zipp_1704206914400/work
zope.interface @ file:///ci_py311/zope.interface_1676673005768/work
zstandard @ file:///ci_py311_second_pass/zstandard_1679002877140/work
